/*body font*/
.dialogContent.ermMoreInfo h3.sectionHeader{
  font-family: $body-font-family;
}

.dialogContent.ermMoreInfo .bibInfoHeader{
  font-family: $body-font-family;
}

.dialogContent.ermMoreInfo .title{
  font-family: $body-font-family;
}

.availCheckboxLink{
  font-family: $body-font-family;
}

.accountFunctionsContentTable .title{
  font-family: $body-font-family;
}

.overlayHeader a{
  font-family: $body-font-family;
}

.overlayPopupHeader .closeLink{
  font-family: $body-font-family;
}

#articlesLoginAlert{
  font-family: $body-font-family;
}

/*header font*/

.recordDetailPage .bibInfoHeader{
  font-family: $header-font-family;
}

.sectionHeader{
  font-family: $header-font-family;
}

#advancedSearchTitle{
  font-family: $header-font-family;
}

.browseArticlesHeader{
  font-family: $header-font-family;
}

.callNoBrowseInfoTooltip .additionalFields{
  font-family: $header-font-family;
}

.title{
  font-family: $header-font-family;
}

.dialogHeader h3{
  font-family: $header-font-family;
}

.footerContent h3{
  font-family: $header-font-family;
}

.contentCategoryLink{
  font-family: $header-font-family;
}

#selectedCategory{
  font-family: $header-font-family;
}

.accountSummaryColumn h2{
  font-family: $header-font-family;
}

.reviewsSummary h2{
  font-family: $header-font-family;
}

#seriesBrowseHeader{
  font-family: $header-font-family;
}

.searchText{
  font-family: $header-font-family;
}

.browseHeader{
  font-family: $header-font-family;
}

.overlayPopupHeader{
  font-family: $header-font-family;
}
